/*
** File-specific style(s), currently used by:
** - all_quotes.html
*/

body {
    padding: 30px;
    background-color: antiquewhite;
}

blockquote {
    color: purple;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
}

div{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}
